$background_dark: #36474F;
$background_darker: #253238;
$highlight_dark: #34495e;
$accent: #663399;
$accent-lighter: #7346a0;
$accent-lightest: #825aaa;
$text-accent-dark: #ddd;
$text-accent-light: #222;
$orange-gradient: linear-gradient(to bottom right, #F24645, rgb(250, 197, 132));
$blue-gradient: linear-gradient(to bottom right, #00537E, #3AA17E);